body{
    font-family: Helvetica ; /*tipo de letra */
    font-weight: bold;/* texto en negrita*/
    background: #BCBCAC;/* color de fondo */
    margin: 0;
    padding-top: 0px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

header{
    width: 100%;
    height: 85px;
    background: #C75151
}

.ancho{
    width: 100%;
    height: 85px;
    margin: 0px;
    /*background: green;*/
}

.escudo{
    float: left;
    /*background: yellow;*/
    height: 85px;
}

.imagen_perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/*perfil de pasante */
.seccion_edicion_perfil_usuario .edicion_perfil_usuario_body,
.seccion_edicion_perfil_usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

/*icono para añadir otra foto */
.seccion_edicion_perfil_usuario .edicion_perfil_usuario_header
 .seccion_edicion_perfil_imagen .boton_edicion_imagen {
    position: absolute;
    right: -2px;
    bottom: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}/*añadir otra foto */

/*aqui inicia la portada de color */
.seccion_edicion_perfil_usuario .edicion_perfil_usuario_header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#C75151, transparent); /*difuminado */
    margin-bottom: 1.25rem;
}

.seccion_edicion_perfil_usuario .edicion_perfil_usuario_portada {
    display: block;
    position: relative;
    width: 90%; /*90% para que la portada no ocupe todo el espacio  */
    height: 13rem; /*tamaño de la portada */
    border-radius: 0 0 20px 20px;
}
/*hasta aqui llega la seccion portada */

.imagen_perfil img{
    border-radius: 100%;
}

/*foto de perfil */
.seccion_edicion_perfil_usuario .imagen_perfil {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion_edicion_perfil_usuario .imagen_perfil  img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}
/*foto de perfil hasta aqui */

/*ancho de las secciones */
.seccion_edicion_perfil_usuario .edicion_perfil_usuario_body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

/*primera seccion usuario*/
/*nombre de usuario*/

.seccion_edicion_perfil_usuario .edicion_perfil_usuario_body .nombre_usuario {
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    text-align: center;
    font-size: 1.75em;
    font-weight: bold;
}
/*aqui termina la primera seccion*/

/*caracteristicas de las secciones*/
.seccion_edicion_perfil_usuario .edicion_especificaciones_usuario,
.seccion_edicion_perfil_usuario .edicion_nombre_usuario {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;/*color de fondo de las secciones */
    border-radius: 8px;
    width: 100%;
    flex-direction: column;
}

.seccion_edicion_perfil_usuario .edicion_nombre_usuario {
    margin-bottom: 1.25rem;
    text-align: center;
}

h2{
    margin: 16px 0;
    border-left: 5px solid;
    padding-left: 16px;
    margin-bottom: 10px;
}

.cuerpo textarea{
    margin-left: 30px;
}

.cuerpo select{
    margin-left: 30px;
}

.contenedor_habilidades, .contenedor_conocimientos{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.opciones_habilidades, .opciones_conocimientos{
    padding: 0px 48px;
    margin-top: 0px;
}

.btn{
    background-color: gray;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}


/* adactacion a dispositivos */
@media (max-width: 750px) {
    .seccion_edicion_perfil_usuario .edicion_perfil_usuario_portada,
    .seccion_edicion_perfil_usuario .edicion_perfil_usuario_body {
        width: 95%;
    }

    .seccion_edicion_perfil_usuario{
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion_edicion_perfil_usuario{
        margin-left: 1rem;
        margin-top: 0;
    }
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgba(212, 1, 1, 0.753);
    display: block;
    font-size: 1.2em;
  }

  input[type=button] {
    background-color: red;
    border: none;
    color: white;
    padding: 16px 22px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
  }