body{
    font-family: Helvetica ; /*tipo de letra */
    font-weight: bold;/* texto en negrita*/
    background: #BCBCAC;/* color de fondo */
    margin: 0;
    padding-top: 0px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.ancho{
    width: 100%;
    height: 85px;
    margin: 0px;
    /*background: green;*/
}

.m_p{
    float: right;
    /*background: blue;*/
    height: 85px;
}

.menu_p{
    list-style: none;
    padding:0.25px;
    /*background: lightsalmon;*/
    max-height: 30px;
    margin-top: 25px;
    margin-right: 80px;
    border-radius: 10px;
}

.menu_p li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    display: block;
    justify-content: center;
    align-items: center;
    /*background: lightblue;*/
}

.menu_p li{
    display: inline-block; /* colcar las listas una al lado de otra */
    /*background: blueviolet;*/
}

/*cambiar de color al pasar el mouse */
.menu_p li a:hover{
    color: #f87861;
    border-radius: 10px;
    transition: all .3s;
}

.menu_p > li{
    position: relative;
}

.submenu_perfil, .submenu_mensajes, .submenu_notificaciones{
    position: absolute;
    background: white;
    border-radius: 10px;
    width: 150%;
    padding-left: 0px;
    display: none;
    margin-left: 20px;
}

.submenu_mensajes, .submenu_notificaciones{
    width: 700%;
    height: 500%;
}

.submenu_perfil li a{
    display: block;
    color: black;
    text-align: center;
    font-size: .8em;
    padding-top: 9px;
}

.menu_p li:hover .submenu_perfil,
.menu_p li:hover .submenu_mensajes,
.menu_p li:hover .submenu_notificaciones{
    display: block;
    transition: all .3s;
}

.submenu_mensajes li a, .submenu_notificaciones li a{
    display: block;
    color: black;
    text-align: center;
    font-size: .8em;
    padding: 15px;
    padding-top: 9px;
}

.imagen_estudiante{
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

/*perfil de pasante */

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
/*aqui inicia la portada de color */
.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#C75151, transparent); /*difuminado */
    margin-bottom: 1.25rem;
}
.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%; /*90% para que la portada no ocupe todo el espacio  */
    height: 15rem; /*tamaño de la portada */
    background: linear-gradient(45deg, #B90E06, #B90E06);
    border-radius: 0 0 20px 20px;
}/*hasta aqui llega la seccion portada */

/*foto de perfil */
.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}/*foto de perfil hasta aqui */

/*ancho de las secciones */
.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}
/*primera seccion usuario*/
/*nombre de usuario*/
.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}/*aqui termina la primera seccion*/

/*caracteristicas de las secciones*/
.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;/*color de fondo de las secciones */
    border-radius: 8px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio{
    height: 250px;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .hvida-datos{
    margin-top: 1.25rem;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.btn{
    background-color: gray;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.seccion-perfil-usuario .redes-sociales {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.seccion-perfil-usuario .redes-sociales .boton-redes {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

/* adactacion a dispositivos */
@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario{
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-usuario {
        margin-left: 1rem;
        margin-top: 0;
    }
}


/*menu pasante opciones */
.m-i{
    float: left;
    /*background: blue;*/
    height: 85px;
}

.menu-inicio{
    list-style: none;
    padding:0.25px; /* relleno del menu */
    background :#B90E06;
    max-height: 1000px;
    margin-top: 35px;
    margin-left: auto;
    border-radius: 10px;
}

.menu-inicio li a{
    text-decoration: none;
    color: black;
    padding: 20px;
    display: block;
}

.menu-inicio li{
    display: inline-block; /* colcar las listas una al lado de otra */
    text-align: center; /* texto al centro */
}

/*cambiar de color al pasar el mouse */
.menu-inicio li a:hover{
    background: #FC0F04;
    border-radius: 10px;
}

/* caja de referencias */
.seccion-recomendaciones{
    margin-left: 50px;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    height:auto;
    width:780px;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.añadir-recomendacion h1{
    text-align: center;
}

.añadir-recomendacion {
    border: 1px solid black;
    background: #C2C1C1;
    height: 240px;
    width: 600px;
    margin-left:20px;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 25px;
    margin-bottom:25px;
    padding-bottom:75px;
}
/*centrar textarea*/
textarea {
    background: white;
    border: 1px solid black;
    border-radius:5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 500px;
}

.boton{
    border-radius: 5px;
    border: 1px solid black;
    font-family: arial,sans-serif;
    font-weight: bold;
}

.recomendaciones-realizadas{
    margin-top:15px;
    background: #C2C1C1;
    padding-left: 50px;
    width: auto;
    height: auto;
    margin-right: 50px;
    border-radius: 5px;
    padding-bottom: 20px;
    border: 1px solid black;
}

.recomendaciones-realizadas h2{
    padding-top: 25px;
    text-align: center;
}
.recomendacion {
    margin-top: 12px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
    height:180px;
    width: 550px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 15px;


}
.recomendacion img{
    height:65px;
    width:65px;
    border-radius: 5px;
    border: 1px solid black;
}


.nombre {
    padding-left: 15px;
    background: white;
    height:100px;
    width: 480px;
    border-radius: 5px;
    border: 1px solid black;
}

.nombre h6{
    font-size:14px;
    float:left;
    margin-bottom:5px;
    margin-top:5px;
}

.nombre p{
    font-size:12px;
    float:right;
    margin-top:2px;
}
