body{
    font-family: Helvetica ; /*tipo de letra */
    font-weight: bold;/* texto en negrita*/
    margin: 0;
    padding-top: 30px;
    /* Aquí el origen de la imagen */
                background-image: url(Imagenes/campus_unilibre.jpg);

                  /* Fijar la imagen de fondo este vertical y
                    horizontalmente y centrado */
                background-position: center center;

                  /* Esta imagen no debe de repetirse */
                background-repeat: no-repeat;

                  /* COn esta regla fijamos la imagen en la pantalla. */
                background-attachment: fixed;

                  /* La imagen ocupa el 100% y se reescala */
                background-size: cover;
}

.form-registros{
    width: 650px;
    height: 580px;
    background: #EAEAEA;
    margin: auto;
    margin-top: auto;
    box-shadow: 7px 13px 37px #000;
    padding : 10px 15px;
    border-radius: 5px;
    border-top: 5px solid black;
    color: white;
}

.form-registros h3{
    font-style: cursive;
    font-weight: bold;
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    font-size: 20px;
    color : black;
}

/*hacer imagen al centro */
.form-registros img{
    display: block;
    margin: auto;
    background: none ;
    padding: 10px;
}

.controles{
    width:70%;
    border: 2px solid #B90E06 ;
    margin-bottom :10px;
    padding: 11px 10px;
    background: #DFDCDC;
    font-weight: bold;
}

.buttones{
    font: helvetica;
    width:50%;
    height:40px;
    background: #505050;
    border-radius: 5px;
    color: white;
    margin-bottom:2.5px;
    margin-top:5px;
}

.form-registros p{
    text-align: center;
    height:20px;
    border-bottom: 1pcx solid;
}

.form-registros a:hover{
    color: #3D4980;
    text-decoration: underline;
    font-size: 15px;
}

.form-registros textarea{
    margin: auto;
    padding: 10px;
    background: #DFDCDC;
    width: 70%;
    border: 1px solid;
}